<div class="snippet">
  <h1>Paste a new code snippet below:</h1>
  <form action="/" method="POST">
    <p><label for="snippet_title">Title: </label><input type="text" name="snippet_title" style="width:440px"/></p>
    <textarea name="snippet_body" id="snippet_body" rows="25" cols="90"></textarea>
    <br/>
    <input type="submit" value="Save"/>
  </form>
</div>
